#avatar{
	border-radius: 100%;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 5vw;
}

#username {
	position: relative;
    top: 22vw;
    font-size: 3vw;
    color: red;
    /* left: 44%; */
    margin: 0;
    text-align: center;
}

#info_profilo {
	position: relative;
    width: 100%;
    top: 25vw;
    height: 51vw;
}

#nome {
	position: absolute;
	top:10%;
	left:15%;
	font-size: 2vw;
}

#cognome {
	position: absolute;
	top:20%;
	left:15%;
	font-size: 2vw;

}


#email {
	position: absolute;
	top:30%;
	left:15%;
	font-size: 2vw;

}

#patente {
	position: absolute;
	top:40%;
	left:15%;
	font-size: 2vw;

}

#numeropatente {

	position: absolute;
	top:50%;
	left:15%;
	font-size: 2vw;

}

#cavallo {

	position: absolute;
	top:10%;
	left:55%;
	font-size: 2vw;

}

#passaporto {
	position: absolute;
	top:20%;
	left:55%;
	font-size: 2vw;

}



#bottone_modifica {
	position: absolute;
    top: 39%;
    left: 56%;
    border: none;
    color: white;
    padding: 1vw 1vw;
    font-size: 1vw;
    cursor: pointer;
    background-color: green;
    width: 23%;
}

#bottone_modifica:hover{
    background-color: red;
    
}

#breve_desc{
    position: relative;
    font-size: 1.3vw;
    text-align: center;
    width: 61%;
    top: 7vw;
    left: 20%;
    /* margin: 5%; */
    /* margin-right: 26vw; */
    font-family: Segoe Print;
}


#body {/*background: url(./immagini/carta2.png)*/
	background-color: #006600;
    margin: auto;}

#barranav {
	background-color: black;
	position: fixed;
	left:0;
	top:0vw;
	width: 100%;
	height: 6vw;
	z-index: 300;
}

#link {
	position: absolute;
	right: 10vw;
	top:1.9vw;
	z-index: 301;
	width: 40%;
	padding:0;
}

#link a{
		text-decoration: none ;
		font-size:2vw;
		color:white;
	}

#link a:hover{
    color: greenyellow;
}
#isola2 {
	position: absolute;
	top:-1.4vw;
	font-size: 3vw;
	font-family: Kunstler Script;
	color: white;
	left: 11%;
}

#fise {
	position: absolute;
	width: 8vw;
	top:0vw;
	left: 3vw;
	height: 6vw;
	z-index: 300;
}

#ferro {
	position: absolute;
	left:3vw;
	
	width: 8vw;
	height: 8vw;
}

#centro_1 {
	background-color: #bfbfbf;
	/*background: url(./immagini/carta.png);*/
	position: absolute;
	top:5.8vw;
	height: 82vw;
	left:10vw;
	right:10vw;
	border: none;

}



#fondo {
	position: absolute;
	background-color:#802b00;
	top:86vw;
	height: 7.1vw;
	width: 100%;
	z-index: 100;
	left: 0vw;
}

#isola_footer {
	position: absolute;
	top:-0.9vw;
	font-size: 3vw;
	font-family: Kunstler Script;
	color: white;
	left: 2vw;
}

#copyright {
position: absolute;
top: 1.9vw;
font-size: 1.2vw;
color: white;
left: 40%;
}


