#body {/*background: url(./immagini/carta2.png)*/
	background-color: #006600;
margin: 100%}

#barranav {
	background-color: black;
	position: fixed;
	left:0;
	top:0vw;
	width: 100%;
	height: 6vw;
	z-index: 300;
}

#link {
	position: absolute;
	right: 10vw;
	top:1.9vw;
	z-index: 301;
	width: 40%;
	padding:0 ;
}

#link a{
		text-decoration: none ;
		font-size:2vw;
		color:white;
	}
#link a:hover{
    color: greenyellow;
}

#isola2 {
	position: absolute;
	top:-1.4vw;
	font-size: 3vw;
	font-family: Kunstler Script;
	color: white;
	left: 11%;
}

#fise {
	position: absolute;
	width: 8vw;
	top:0vw;
	left: 3vw;
	height: 6vw;
	z-index: 300;
}

#centro_1 {
	background-color: #bfbfbf;
	position: absolute;
	top:5.8vw;
	height: 170vw;
	left:10vw;
	right:10vw;
	border: none;

}

#div_prezzi {
	width: 100%;
	height: 45vw;
	
}

#prezzi {
	position: absolute;
	top:4vw;
	width: 90%;
	margin-left: 5%;
}

#prezzi caption {
	font-size: 3vw;
    font-family: MV Boli;
}

#prezzi th {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;
}

#prezzi td {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;

}

#extra_prezzi {

position: absolute;
top: 24vw;
width: 70%;
left: 15%;
text-align: center;
font-size: 2vw;
}


#div_lezioni {
	height: 70vw;
}

#titolo_descrizione_istruttori{
	text-align: center;
	font-size: 3vw;
    font-family: MV Boli;
}

#descrizione_lezioni {
	position: absolute;
	width: 70%;
left: 15%;
text-align: center;
font-size: 2vw;

}

#prezzi_lezioni_giulia {

	position: absolute;
	top:77vw;
	width: 90%;
	margin-left: 5%;

}

#prezzi_lezioni_giulia  th {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;
}

#prezzi_lezioni_giulia td {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;

}

#prezzi_lezioni_giulia caption {
	font-size: 2vw;
	color:  #997300;

}

#prezzi_lezioni_ilaria {

	position: absolute;
	top:88vw;
	width: 90%;
	margin-left: 5%;

}

#prezzi_lezioni_ilaria  th {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;
}

#prezzi_lezioni_ilaria td {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;

}

#prezzi_lezioni_ilaria caption {
	font-size: 2vw;
	color:  #997300;

}

#prezzi_lezioni_barbara {

	position: absolute;
	top:99vw;
	width: 90%;
	margin-left: 5%;

}

#prezzi_lezioni_barbara th {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;
}

#prezzi_lezioni_barbara td {
	border: 0.2vw solid black;
	width: 50%;
	text-align: center;
	font-size: 1.5vw;

}

#prezzi_lezioni_barbara caption {
	font-size: 2vw;
	color:  #997300;

}

#indicazioni {
	height: 30vw;

}

#dove_siamo {
	font-size: 4vw;
    color: red;
    text-align: center;
    position: relative;
    top: -2vw;
    font-family: MV Boli;
}

#descrizione_dove_siamo {

position: absolute;
	width: 70%;
left: 15%;
text-align: center;
font-size: 1.9vw;
top:127vw;

}

#link_navigatore {
	font-size: 2vw;
	position: absolute;
	top:148vw;
	left: 30%;
}

#link_navigatore a{
	text-decoration: none;
	color: red;
	
}



















#fondo {
	position: absolute;
	background-color: #802b00;
	top:170vw;
	height: 6vw;
	width: 100%;
	z-index: 100;
	left: 0;
}

#isola_footer {
	position: absolute;
	top:-1.5vw;
	font-size: 3vw;
	font-family: Kunstler Script;
	color: white;
	left: 2vw;
}

#copyright {
	position: absolute;
	top:1.4vw;
	font-size: 1.2vw;
	color: white;
	left: 40%;
}