#body {/*background: url(./immagini/carta2.png)*/
	background-color: #006600;
margin: 100%}

#barranav {
    background-color: black;
    position: fixed;
    left:0;
    top:0vw;
    width: 100%;
    height: 6vw;
    z-index: 300;
}

#link {
    position: absolute;
    right: 10vw;
    top:1.9vw;
    z-index: 301;
    width: 40%;
    
}

#link a{
        text-decoration: none ;
        font-size:2vw;
        color:white;
    }

#link a:hover{
    color: greenyellow;
}

#isola2 {
    position: absolute;
    top:-1.4vw;
    font-size: 3vw;
    font-family: Kunstler Script;
    color: white;
    left: 11%;
}

#fise {
    position: absolute;
    width: 8vw;
    top:0vw;
    left: 3vw;
    height: 6vw;
    z-index: 300;
}

#ferro {
    position: absolute;
    left:3vw;
    
    width: 8vw;
    height: 8vw;
}

#centro_1 {
    background-color: #bfbfbf;
    position: absolute;
    top:6vw;
    min-height: 30vw;
    left:10vw;
    right:10vw;
    border: none;

}

#div_vuoto{
    position: relative;
}




#titolo_riepilogo {
	position: relative;
	top:0vw;
	text-align: center;
}

#p_vuoto{
	position: relative;
	text-align: center;
	font-size: 2vw;

}

#img_vuoto {
	position: relative;
    width: 18%;
    height: 28%;
    left: 42%;
    /*top:14vw;*/
}

#a_vuoto {
	position: relative;
    font-size: 2vw;
    text-decoration: none;
    color: green;
    text-align: center;
}

#a_vuoto a{
        text-decoration: none;
        color: yellow;

}

.sezione {
    position: relative;

}


.img {
width: 8vw;
height: 8vw;
position: relative;
left: 9.5vw;
}
.testo{
position: absolute;

top: 0%;

left: 22%;

height: 100%;

width: 70.5%
}

.testo h2{
position: relative;
left: 4%;
width: 44%;
font-size: 1.5vw;
font-weight: bold;
}

.testo .descrizione{
    width: 60%;
    left:4%;
    position: absolute;
    top:41%;
    font-size: 1.2vw;
}

.form_rimuovi{
    position: absolute;
    right: 7%;
    top: 44%;
    height: 0vw;


}

.bottone_rimuovi{
color: red;

border: none;

background-color: #bfbfbf;

cursor: pointer;

font-size: 1.3vw;
}


#ritorno {
    position: relative;
    text-align: center;
}

#ritorno a{
    text-decoration: none;
    color:green;
    font-size: 1.5vw;
}

#fondo {
    position: absolute;
    background-color:#802b00;
    top:125vw;
    height: 7.1vw;
    width: 100%;
    z-index: 100;
    left: 0vw;
}

#isola_footer {
    position: absolute;
    top:-0.9vw;
    font-size: 3vw;
    font-family: Kunstler Script;
    color: white;
    left: 2vw;
}

#copyright {
position: absolute;
top: 1.9vw;
font-size: 1.2vw;
color: white;
left: 40%;
}


